<div class="ui menu" id="headerGH">
    <div class="item" routerLink="/">
        <img class="ui middle aligned tiny image" src="../../../assets/images/brand/Wortmarke v2 export.svg" alt="Varia Logo">
    </div>
    <a class="header item" routerLink="/paas" >
        PaaS
    </a>
    <div class="item">
        <a routerLink="/tasks">Tasks</a>
    </div>
    <div class="item">
        <a routerLink="/about">About</a>
    </div>
    <div *ngIf="!isLoggedIn" class="right item">
        <a routerLink="/login">Login</a>
    </div>
    <div *ngIf="isLoggedIn" class="item">
        <a routerLink="/profile">{{ this.username }}</a>
    </div>
    <div *ngIf="isLoggedIn" class="right item">
        <a (click)="onLogoutClick()" >Logout</a>
    </div>
</div>