/* You can add global styles to this file, and also import other style files */

.alert-success {
    font-size: 0.8rem;
    color: seagreen;
    background-color: rgb(212, 255, 212);
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
  }
  
.alert-danger {
    font-size: 0.8rem;
    color: red;
    background-color: rgb(255, 208, 215);
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
  }

